@import "../index.scss";

header.masthead {
  background: no-repeat center center;
  // background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
  // .overlay {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: 100%;
  //   background-color: #1d1d1d;
  //   opacity: 0.7;
  // }
  .page-heading,
  .post-heading,
  .site-heading {
    padding: 20px 0 0px;
    color: white;
  }

  .page-heading,
  .site-heading {
    text-align: center;
  }
  .page-heading h1,
  .site-heading h1 {
    font-size: 40px;
    margin-top: 0;
  }
  .post-heading {
    h1 {
      font-size: 35px;
      color: $accent-color;
    }
    .meta {
      color: #bbb;
      line-height: 1.1;
      display: block;
      font-size: 20px;
      font-weight: 400;
      a {
        font-weight: 500;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  header.masthead {
    .page-heading,
    .post-heading,
    .site-heading {
      padding-top: 50px;
    }
  }
}

@media only screen and (min-width: 768px) {
  header.masthead {
    .page-heading h1,
    .site-heading h1 {
      font-size: 40px;
    }
  }
}

@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 40px;
  }
}

// below tags might not be used
article {
  p {
    line-height: 1.5;
    margin-bottom: 15px;
    font-size: 20px;
    a {
      text-decoration: underline;
      color: #fff;
      &:hover {
        color: $accent-color;
        text-decoration: underline;
      }
    }
  }

  p h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 800;
  }

  blockquote {
    font-style: italic;
    color: #868e96;
  }
  code {
    color: #eee;
    background-color: #444;
    padding: 15px;
    border-radius: 5px;
  }
}

.my-masonry-grid {
  display: flex;
  margin-left: -15px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 15px; /* gutter size */
  background-clip: padding-box;
}

// Style your items
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  // background: grey;
  margin-bottom: 15px;
}
.gallery-image-container {
  cursor: pointer;
  position: relative;

  // &:hover .gallery-image {
  //   opacity: 0.3;
  // }
  // &:focus .gallery-image {
  //   opacity: 0.3;
  // }
  &:hover .gallery-image-container-middle {
    transform: scaleY(1);
    opacity: 1;
  }
  &:focus .gallery-image-container-middle {
    transform: scaleY(1);
    opacity: 1;
  }
  .gallery-image-container-middle {
    transition: 0.2s ease;
    transform: scaleY(0);
    transform-origin: bottom;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 0 5px 5px;
    // background: linear-gradient(
    //   to top,
    //   rgba(0, 0, 0, 0.7) 0%,
    //   rgba(0, 0, 0, 0.6) 50%,
    //   rgba(0, 0, 0, 0) 100%
    // );
    background: rgba(0, 0, 0, 0.6);
    padding: 15px 0;
    width: 100%;
    text-align: center;
  }
  .gallery-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.1s ease;
    backface-visibility: hidden;
  }
}
