@import "../index.scss";

.e-main {
  padding: 2em;
  margin-right: 8em;
  margin-left: 8em;
  display: flex;
  flex-direction: column;
}

.e-big-image {
  max-width: 100%;
  object-fit: cover;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  margin-bottom: 1.5em;
  flex: 1 1 auto;
}
.e-heading {
  font-size: 2em;
  color: $accent-color;
}
.e-meta {
  font-size: 20px;
  line-height: 1.1;
  font-weight: 300;
  > span {
    display: flex;
    margin-bottom: 8px;
    vertical-align: middle;
    &:last-of-type {
      margin-bottom: 0;
    }
    > a {
      display: inline-flex;
    }
  }
}
.e-body {
  padding-top: 1rem;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
}
