/* purgecss start ignore */
$bg-color: #222;
$fg-color: #ddd;
$title-color: #ccc;
$accent-color: #f59c22;
$title-font: "Roboto Slab", serif;
$body-font: "Fira Sans", sans-serif;

:root {
  --accent-color: #{$accent-color};
}

/* Bootstrap overrides */
$primary: $accent-color;

$body-bg: $bg-color;
$body-color: $fg-color;

$text-muted: darken($fg-color, 20%);

$navbar-dark-color: #bbb;
$navbar-dark-hover-color: $accent-color;
$navbar-padding-x: 25px;
$nav-pills-link-active-color: $bg-color;

$card-bg: lighten($bg-color, 5%);
$card-color: $fg-color;
$card-group-margin: 0;

$input-bg: lighten($bg-color, 5%);
$input-color: $fg-color;
$input-border-color: none;

$link-color: $accent-color;
$link-hover-color: lighten($accent-color, 15%);

$headings-color: $title-color;

$border-radius: 5px;

$enable-shadows: true;

// $box-shadow:

$spacers: (
  6: (
    1rem * 5,
  ),
  7: (
    1rem * 10,
  ),
);
/* purgecss end ignore */

@import "../node_modules/bootstrap/scss/bootstrap.scss";
/* purgecss start ignore */

body {
  background-color: $bg-color;
  color: $fg-color;
  font-family: $body-font;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font;
}
.link,
a {
  color: $accent-color;
  transition: color 0.1s;
  &:hover {
    color: lighten($color: $accent-color, $amount: 15%);
    text-decoration: none;
  }
}
small {
  font-size: 11pt;
}
em {
  color: $accent-color;
}
b,
strong {
  color: #ccc;
}

// Article
.article {
  p {
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 20px;
    a {
      text-decoration: underline;
      color: #fff;
      &:hover {
        color: $accent-color;
        text-decoration: underline;
      }
    }
  }

  h1 {
    font-size: 24pt;
  }
  h2 {
    font-size: 20pt;
  }
  h3 {
    font-size: 18pt;
  }
  h4 {
    font-size: 16pt;
  }
  h5 {
    font-size: 14pt;
  }

  blockquote {
    font-style: italic;
    color: #868e96;
  }
  code {
    color: #eee;
    background-color: #444;
    padding: 5px;
    border-radius: 5px;
  }
}

.loading {
  padding: 2em;
  font-size: 20pt;
}
.error {
  padding: 2em;
}
.muted {
  color: #777777;
}
/* purgecss end ignore */
