@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  a {
    @apply text-accent;
  }
  a:hover {
    @apply text-white;
  }
  body {
    @apply bg-bg text-fg;
  }
  small {
    @apply text-sm text-gray-500;
  }
  em {
    @apply text-accent;
  }
  b,
  strong {
    @apply text-gray-500;
  }
  p {
    @apply mb-4;
  }
  ul {
    @apply list-disc;
  }
  .e-meta > span {
    @apply flex items-center mb-1 align-middle;
  }
  .e-meta:last-of-type {
    @apply mb-0;
  }
  .e-meta > span > a {
    @apply inline-flex;
  }
}

:root {
  --accent-color: #f59c22;
  --bg-color: #222;
  --fg-color: #ddd;
  --title-color: #ccc;
  --title-font: "Roboto Slab", serif;
  --body-font: "Fira Sans", sans-serif;
}
