@import 'tailwindcss';

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  a {
    @apply text-accent;
  }
  a:hover {
    @apply text-white;
  }
  body {
    @apply bg-bg text-fg;
  }
  small {
    @apply text-sm text-gray-500;
  }
  em {
    @apply text-accent;
  }
  b,
  strong {
    @apply text-gray-500;
  }
  p {
    @apply mb-4;
  }
  ul {
    @apply list-disc;
  }
  .e-meta > span {
    @apply flex items-center mb-1 align-middle;
  }
  .e-meta:last-of-type {
    @apply mb-0;
  }
  .e-meta > span > a {
    @apply inline-flex;
  }
}

:root {
  --accent-color: #f59c22;
  --bg-color: #222;
  --fg-color: #ddd;
  --title-color: #ccc;
  --title-font: "Roboto Slab", serif;
  --body-font: "Fira Sans", sans-serif;
}
